// screens
$information-mobile: '(max-width: 479px)';
$information-tablet: '(min-width: 480px) and (max-width: 1023px)';
$information-desktop: '(min-width: 1024px)';

// background colors
$bg-color1: #a6ffcb;
$bg-color2: #12d8fa;
$bg-color3: #1fa2ff;

// text colors
$primary-color: #0d075c;
