@import '../../../styles/styles.scss';

$background: hsl(0, 0%, 98%);
$text-color: #dc3545;

.age {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-bottom: 1px solid $border-color;

    &-input {
        text-align: center;
        border-radius: 0.2em;
        border: 1px solid $border-color;
        background-color: $background;
        caret-color: $primary-color;
        color: $primary-color;

        &.invalid {
            border: 2px solid $text-color;
            background-image: url('../../../assets/images/warning.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 1em) center;

            &:hover {
                box-shadow: 0 0 8px $text-color;
            }
        }

        @media #{$information-mobile} {
            font-size: 1em;
        }
        @media #{$information-tablet} {
            font-size: 1.2em;
        }
        @media #{$information-desktop} {
            font-size: 1.4em;
        }
    }

    &-label {
        span {
            font-weight: 700;
            color: $secondary-color;
        }

        @media #{$information-mobile} {
            font-size: 1em;
        }
        @media #{$information-tablet} {
            font-size: 1.2em;
        }
        @media #{$information-desktop} {
            font-size: 1.4em;
        }
    }
    &-information {
        text-align: right;
        color: $secondary-color;
        grid-area: 2 / 1 / 3 / 3;

        @media #{$information-mobile} {
            font-size: 0.6em;
            padding-top: 0.4em;
        }
        @media #{$information-tablet} {
            font-size: 0.8em;
            padding-top: 0.6em;
        }
        @media #{$information-desktop} {
            font-size: 1em;
            padding-top: 0.8em;
        }
    }
    &-invalid {
        grid-area: 3 / 1 / 4 / 3;
        color: $text-color;

        @media #{$information-mobile} {
            font-size: 0.6em;
        }
        @media #{$information-tablet} {
            font-size: 0.8em;
        }
        @media #{$information-desktop} {
            font-size: 1em;
        }
    }

    @media #{$information-mobile} {
        padding: 0.8em 1em;
    }
    @media #{$information-tablet} {
        padding: 1em 1.2em;
    }
    @media #{$information-desktop} {
        padding: 1.2em;
    }
}
