@import '../styles/styles.scss';

$background: #eac4c7;
$text-color: #721c24;
$exit-color: #b5797f;

.alert {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: $background;
    border-radius: 0.2em;
    color: $text-color;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            path {
                fill: $exit-color;
            }

            &:hover {
                cursor: pointer;
                path {
                    fill: $text-color;
                }
            }
        }

        &-title {
            margin: 0;

            @media #{$information-mobile} {
                font-size: 1.2em;
            }
            @media #{$information-tablet} {
                font-size: 1.4em;
            }
            @media #{$information-desktop} {
                font-size: 1.8em;
            }
        }
    }
    &-body {
        &-message {
            margin: 0;
        }
        @media #{$information-mobile} {
            font-size: 1em;
            margin-top: 0.6em;
        }
        @media #{$information-tablet} {
            font-size: 1.2em;
            margin-top: 0.8em;
        }
        @media #{$information-desktop} {
            font-size: 1.4em;
            margin-top: 1em;
        }
    }

    @media #{$information-mobile} {
        right: 4em;
        left: 4em;
        padding: 0.8em;
    }
    @media #{$information-tablet} {
        max-width: 64%;
        width: 410px;
        left: 50%;
        transform: translateX(-50%);
        padding: 1.2em;
    }
    @media #{$information-desktop} {
        width: 480px;
        left: 50%;
        transform: translateX(-50%);
        padding: 1.2em;
    }
}
