@import '../sass/styles.scss';

$background: hsl(0, 0%, 98%);

.main {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    color: $primary-color;
}

.form {
    background-color: $background;
    border-radius: 2em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 4px 4px 8px rgba(0, 0, 0, 0.4),
        8px 8px 16px rgba(0, 0, 0, 0.4);

    &-title {
        font-family: serif;
        margin: 0;
        text-align: center;
        text-shadow: 1px 1px 1px #000000, 2px 2px 4px rgba(0, 0, 0, 0.8);
        letter-spacing: 1px;

        @media #{$information-mobile} {
            font-size: 1.4em;
            padding: 0.8em 0;
        }
        @media #{$information-tablet} {
            font-size: 1.8em;
            padding: 1em 0;
        }
        @media #{$information-desktop} {
            font-size: 2.4em;
            padding: 1.2em 0;
        }
    }
    &-content {
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        border-bottom: 1px solid $border-color;

        input {
            text-align: center;
            border-radius: 0.2em;
            border: 1px solid $border-color;
            background-color: $background;
            caret-color: $primary-color;
            color: $primary-color;

            @media #{$information-mobile} {
                font-size: 1em;
            }
            @media #{$information-tablet} {
                font-size: 1.2em;
            }
            @media #{$information-desktop} {
                font-size: 1.4em;
            }
        }

        &-label {
            span {
                font-weight: 700;
                color: $secondary-color;
            }

            @media #{$information-mobile} {
                font-size: 1em;
            }
            @media #{$information-tablet} {
                font-size: 1.2em;
            }
            @media #{$information-desktop} {
                font-size: 1.4em;
            }
        }
        &-information {
            text-align: right;
            color: $secondary-color;
            grid-area: 2 / 1 / 3 / 3;

            @media #{$information-mobile} {
                font-size: 0.6em;
                padding-top: 0.4em;
            }
            @media #{$information-tablet} {
                font-size: 0.8em;
                padding-top: 0.6em;
            }
            @media #{$information-desktop} {
                font-size: 1em;
                padding-top: 0.8em;
            }
        }

        @media #{$information-mobile} {
            padding: 0.8em 1em;
        }
        @media #{$information-tablet} {
            padding: 1em 1.2em;
        }
        @media #{$information-desktop} {
            padding: 1.2em;
        }
    }
    &-article {
        &-title {
            font-family: serif;
            font-weight: 700;
            margin: 0;
            color: $secondary-color;

            @media #{$information-mobile} {
                font-size: 1em;
                padding: 1em 1em 0 1em;
            }
            @media #{$information-tablet} {
                font-size: 1.2em;
                padding: 1em 1.2em 0 1.2em;
            }
            @media #{$information-desktop} {
                font-size: 1.4em;
                padding: 1.2em 1.2em 0 1.2em;
            }
        }
    }
    &-submit {
        display: flex;
        justify-content: center;

        &-button {
            font-family: sans-serif;
            font-weight: 600;
            color: $primary-color;
            border: 1px solid $border-color;

            background: $bg-color3;
            background: linear-gradient(to right, $bg-color1, $bg-color2, $bg-color3);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 2px 2px 4px rgba(0, 0, 0, 0.4),
                4px 4px 8px rgba(0, 0, 0, 0.4);

            &:hover {
                cursor: pointer;
            }

            @media #{$information-mobile} {
                font-size: 1em;
                padding: 0.4em 0.8em;
                border-radius: 1em;
            }
            @media #{$information-tablet} {
                font-size: 1.2em;
                padding: 0.6em 1em;
                border-radius: 1.2em;
            }
            @media #{$information-desktop} {
                font-size: 1.4em;
                padding: 0.6em 1em;
                border-radius: 1.4em;
            }
        }

        @media #{$information-mobile} {
            padding: 0.8em 0;
        }
        @media #{$information-tablet} {
            padding: 1em 0;
        }
        @media #{$information-desktop} {
            padding: 1.2em 0;
        }
    }

    @media #{$information-mobile} {
        margin: 2em;
        width: 90%;
    }
    @media #{$information-tablet} {
        margin: 2.2em;
        width: 80%;
        max-width: 512px;
    }
    @media #{$information-desktop} {
        margin: 2.4em;
        width: 600px;
    }
}
