@import '../sass/styles.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    background: $bg-color3;
    background: linear-gradient(to right, $bg-color1, $bg-color2, $bg-color3);
    max-height: 50vh;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.4),
        0 8px 16px rgba(0, 0, 0, 0.4);

    img {
        max-width: 100%;
        @media #{$information-mobile} {
            opacity: 16%;
        }
        @media #{$information-tablet} {
            opacity: 24%;
        }
        @media #{$information-desktop} {
            opacity: 32%;
        }
    }

    &-title {
        top: 50%;
        transform: translateY(-50%);
        font-family: serif;
        margin: 0;
        position: absolute;
        color: $primary-color;
        text-shadow: 1px 1px #000000, 2px 2px 4px rgba(0, 0, 0, 0.8),
            4px 4px 16px rgba(0, 0, 0, 0.4);

        @media #{$information-mobile} {
            font-size: 1.6em;
            margin: 0 0.4em;
        }
        @media #{$information-tablet} {
            font-size: 2.4em;
            margin: 0 1em;
        }
        @media #{$information-desktop} {
            font-size: 3.2em;
            margin: 0 2em;
        }
    }

    @media #{$information-mobile} {
        min-height: 32vh;
        padding: 0.4em;
    }
    @media #{$information-tablet} {
        min-height: 36vh;
        padding: 1em;
    }
    @media #{$information-desktop} {
        min-height: 50vh;
        padding: 2em;
    }
}
