@import '../sass/styles.scss';

$background: hsl(0, 0%, 98%);

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $primary-color;
    background-color: $background;
    border-radius: 0.4em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 4px 4px 8px rgba(0, 0, 0, 0.4),
        8px 8px 16px rgba(0, 0, 0, 0.4);

    * {
        padding: 0;
        margin: 0;
    }

    &-title {
        font-family: serif;
        border-bottom: 1px solid $border-color;

        @media #{$information-mobile} {
            padding-bottom: 0.4em;
            font-size: 1.2em;
        }
        @media #{$information-tablet} {
            padding-bottom: 0.4em;
            font-size: 1.4em;
        }
        @media #{$information-desktop} {
            padding-bottom: 0.4em;
            font-size: 2em;
        }
    }
    &-description {
        font-family: sans-serif;

        @media #{$information-mobile} {
            padding-top: 0.4em;
            font-size: 1em;
        }
        @media #{$information-tablet} {
            padding-top: 0.4em;
            font-size: 1.2em;
        }
        @media #{$information-desktop} {
            padding-top: 0.4em;
            font-size: 1.4em;
        }
    }
    &-link {
        text-align: right;

        a {
            text-decoration: none;
            color: $bg-color3;
            border: 1px solid $bg-color3;

            &:hover {
                //border: none;
                background-color: $bg-color3;
                color: $background;
            }

            @media #{$information-mobile} {
                font-size: 0.8em;
                padding: 0.6em 1.2em;
                border-radius: 1.6em;
            }
            @media #{$information-tablet} {
                font-size: 1em;
                padding: 0.6em 1.4em;
                border-radius: 1.8em;
            }
            @media #{$information-desktop} {
                font-size: 1.2em;
                padding: 0.6em 1.8em;
                border-radius: 1.8em;
            }
        }

        @media #{$information-mobile} {
            margin-top: 1.6em;
            margin-bottom: 0.6em;
        }
        @media #{$information-tablet} {
            margin-top: 2.8em;
            margin-bottom: 0.8em;
        }
        @media #{$information-desktop} {
            margin-top: 3.2em;
            margin-bottom: 0.8em;
        }
    }

    @media #{$information-mobile} {
        width: 80%;
        margin-top: 4em;
        padding: 1em;
    }
    @media #{$information-tablet} {
        width: 70%;
        margin-top: 6em;
        padding: 2em;
    }
    @media #{$information-desktop} {
        width: 60%;
        margin-top: 8em;
        padding: 2.4em;
    }
}
